__pycache__/
*.xml
.idea/$CACHE_FILE$
*.iml
.idea/dictionaries
*.mat
backup.py
results/
results_plot/
results_test/
results_test_plot/
models_save/
hyper/
log/
data/
scripts/ 
results_valif/ 
try/
plot/charts
model/
